body {
  background: #ecf0f1;
  color: #2c3e50;
}

#id_table {
  background: #27ae60;
}

#pwd_table {
  background: #3498db;
}

#morning_table {
background: #27ae60;
color: white;
}

#afternoon_table {
background: #3498db;
color: white;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-morning {
  background: #27ae60;
}

.btn-morning:hover,.btn-morning:focus {
  background: #269655;
}

.btn-afternoon {
  background: #3498db;
}

.fa-sun-o {
  color: #f1c40f;
}

.fa-moon-o {
  color: #9b59b6;
}

.separator {
  border-top: 3px solid #f1c40f;
}

.custom-bg {
  background: #34495e;
  color: white;
}
